In [1]:
# import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# load the data
dataset = pd.read_excel('/Users/chirath/Python/IIT/Waste_Management_System-DSGP-/24 Data/September Report.xlsx')
dataset.head()

,Unnamed: 0,Dump Date,Vehicle No,Out Time,SOW Wastage Amount (Kg),MSW Wastage Amount (Kg),Induastrial Wastage (Kg),Other Amount (Kg),Remarks,Bill No,Muster,Route
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2024-09-02 00:00:00,ZA-6994,13:05:00,NaN,3620.0,NaN,NaN,NaN,605770,Kohuwala,01 - Vilawala
2,NaN,2024-09-03 00:00:00,ZA-6994,13:49:00,4220.0,NaN,NaN,NaN,NaN,605989,Kohuwala,01 - Vilawala
3,NaN,2024-09-04 00:00:00,ZA-6994,11:45:00,NaN,2150.0,NaN,NaN,NaN,606160,Kohuwala,01 - Vilawala
4,NaN,2024-09-04 00:00:00,ZA-6994,15:16:00,NaN,1430.0,NaN,NaN,NaN,606270,Kohuwala,01 - Vilawala

In [5]:
# identify the shape of the dataset
print("The number of rows in the dataset is: ", dataset.shape[0])
print("The number of columns in the dataset is: ", dataset.shape[1])

The number of rows in the dataset is:  1754
The number of columns in the dataset is:  12

In [7]:
# indentify the data types of the columns (features)
print("The data types of the columns in the dataset are: ")
print(dataset.dtypes)

The data types of the columns in the dataset are:
Unnamed: 0                  float64
Dump Date                    object
Vehicle No                   object
Out Time                     object
SOW Wastage Amount (Kg)     float64
MSW Wastage Amount (Kg)     float64
Induastrial Wastage (Kg)    float64
Other Amount (Kg)           float64
Remarks                      object
Bill No                      object
Muster                       object
Route                        object
dtype: object

In [9]:
# define the default column names
default_columns = [
    'Dump Date', 'Vehicle No', 'Out Time', 'SOW Wastage Amount (Kg)', 
    'MSW Wastage Amount (Kg)', 'Induastrial Wastage (Kg)', 'Other Amount (Kg)', 
    'Remarks', 'Bill No', 'Muster', 'Route'
]

# Function to check if columns exist in the dataset
def check_columns_exist(df, columns):
    for column in columns:
        if column in df.columns:
            print(f"{column}: yes")
        else:
            print(f"{column}: no")

check_columns_exist(dataset, default_columns)

Dump Date: yes
Vehicle No: yes
Out Time: yes
SOW Wastage Amount (Kg): yes
MSW Wastage Amount (Kg): yes
Induastrial Wastage (Kg): yes
Other Amount (Kg): yes
Remarks: yes
Bill No: yes
Muster: yes
Route: yes

In [10]:
# keep only the default columns
dataset = dataset[default_columns]
print(dataset.dtypes)

Dump Date                    object
Vehicle No                   object
Out Time                     object
SOW Wastage Amount (Kg)     float64
MSW Wastage Amount (Kg)     float64
Induastrial Wastage (Kg)    float64
Other Amount (Kg)           float64
Remarks                      object
Bill No                      object
Muster                       object
Route                        object
dtype: object

In [8]:
# identify the missing values in the dataset
print("The missing values in the dataset are: ")
print(dataset.isnull().sum())

The missing values in the dataset are:
Unnamed: 0                  1754
Dump Date                     51
Vehicle No                    56
Out Time                      60
SOW Wastage Amount (Kg)     1093
MSW Wastage Amount (Kg)      730
Induastrial Wastage (Kg)    1752
Other Amount (Kg)           1736
Remarks                     1717
Bill No                       54
Muster                        55
Route                         55
dtype: int64

In [12]:
# identify the duplicate rows in the dataset
print("The duplicate rows in the dataset are: ")
print(dataset.duplicated().sum())
print(dataset[dataset.duplicated()])

The duplicate rows in the dataset are:
49
     Dump Date Vehicle No Out Time  SOW Wastage Amount (Kg)  \
31         NaN        NaN      NaN                      NaN
59         NaN        NaN      NaN                      NaN
84         NaN        NaN      NaN                      NaN
141        NaN        NaN      NaN                      NaN
176        NaN        NaN      NaN                      NaN
248        NaN        NaN      NaN                      NaN
276        NaN        NaN      NaN                      NaN
314        NaN        NaN      NaN                      NaN
349        NaN        NaN      NaN                      NaN
383        NaN        NaN      NaN                      NaN
451        NaN        NaN      NaN                      NaN
531        NaN        NaN      NaN                      NaN
597        NaN        NaN      NaN                      NaN
635        NaN        NaN      NaN                      NaN
697        NaN        NaN      NaN                      NaN
731        NaN        NaN      NaN                      NaN
813        NaN        NaN      NaN                      NaN
872        NaN        NaN      NaN                      NaN
905        NaN        NaN      NaN                      NaN
963        NaN        NaN      NaN                      NaN
1002       NaN        NaN      NaN                      NaN
1038       NaN        NaN      NaN                      NaN
1119       NaN        NaN      NaN                      NaN
1160       NaN        NaN      NaN                      NaN
1224       NaN        NaN      NaN                      NaN
1316       NaN        NaN      NaN                      NaN
1386       NaN        NaN      NaN                      NaN
1459       NaN        NaN      NaN                      NaN
1489       NaN        NaN      NaN                      NaN
1518       NaN        NaN      NaN                      NaN
1552       NaN        NaN      NaN                      NaN
1617       NaN        NaN      NaN                      NaN
1695       NaN        NaN      NaN                      NaN
1717       NaN        NaN      NaN                      NaN
1732       NaN        NaN      NaN                      NaN
1735       NaN        NaN      NaN                      NaN
1736       NaN        NaN      NaN                      NaN
1737       NaN        NaN      NaN                      NaN
1738       NaN        NaN      NaN                      NaN
1739       NaN        NaN      NaN                      NaN
1740       NaN        NaN      NaN                      NaN
1741       NaN        NaN      NaN                      NaN
1742       NaN        NaN      NaN                      NaN
1743       NaN        NaN      NaN                      NaN
1744       NaN        NaN      NaN                      NaN
1747       NaN        NaN      NaN                      NaN
1749       NaN        NaN      NaN                      NaN
1751       NaN        NaN      NaN                      NaN
1752       NaN        NaN      NaN                      NaN

      MSW Wastage Amount (Kg)  Induastrial Wastage (Kg)  Other Amount (Kg)  \
31                        NaN                       NaN                NaN
59                        NaN                       NaN                NaN
84                        NaN                       NaN                NaN
141                       NaN                       NaN                NaN
176                       NaN                       NaN                NaN
248                       NaN                       NaN                NaN
276                       NaN                       NaN                NaN
314                       NaN                       NaN                NaN
349                       NaN                       NaN                NaN
383                       NaN                       NaN                NaN
451                       NaN                       NaN                NaN
531                       NaN                       NaN                NaN
597                       NaN                       NaN                NaN
635                       NaN                       NaN                NaN
697                       NaN                       NaN                NaN
731                       NaN                       NaN                NaN
813                       NaN                       NaN                NaN
872                       NaN                       NaN                NaN
905                       NaN                       NaN                NaN
963                       NaN                       NaN                NaN
1002                      NaN                       NaN                NaN
1038                      NaN                       NaN                NaN
1119                      NaN                       NaN                NaN
1160                      NaN                       NaN                NaN
1224                      NaN                       NaN                NaN
1316                      NaN                       NaN                NaN
1386                      NaN                       NaN                NaN
1459                      NaN                       NaN                NaN
1489                      NaN                       NaN                NaN
1518                      NaN                       NaN                NaN
1552                      NaN                       NaN                NaN
1617                      NaN                       NaN                NaN
1695                      NaN                       NaN                NaN
1717                      NaN                       NaN                NaN
1732                      NaN                       NaN                NaN
1735                      NaN                       NaN                NaN
1736                      NaN                       NaN                NaN
1737                      NaN                       NaN                NaN
1738                      NaN                       NaN                NaN
1739                      NaN                       NaN                NaN
1740                      NaN                       NaN                NaN
1741                      NaN                       NaN                NaN
1742                      NaN                       NaN                NaN
1743                      NaN                       NaN                NaN
1744                      NaN                       NaN                NaN
1747                      NaN                       NaN                NaN
1749                      NaN                       NaN                NaN
1751                      NaN                       NaN                NaN
1752                      NaN                       NaN                NaN

     Remarks Bill No Muster Route
31       NaN     NaN    NaN   NaN
59       NaN     NaN    NaN   NaN
84       NaN     NaN    NaN   NaN
141      NaN     NaN    NaN   NaN
176      NaN     NaN    NaN   NaN
248      NaN     NaN    NaN   NaN
276      NaN     NaN    NaN   NaN
314      NaN     NaN    NaN   NaN
349      NaN     NaN    NaN   NaN
383      NaN     NaN    NaN   NaN
451      NaN     NaN    NaN   NaN
531      NaN     NaN    NaN   NaN
597      NaN     NaN    NaN   NaN
635      NaN     NaN    NaN   NaN
697      NaN     NaN    NaN   NaN
731      NaN     NaN    NaN   NaN
813      NaN     NaN    NaN   NaN
872      NaN     NaN    NaN   NaN
905      NaN     NaN    NaN   NaN
963      NaN     NaN    NaN   NaN
1002     NaN     NaN    NaN   NaN
1038     NaN     NaN    NaN   NaN
1119     NaN     NaN    NaN   NaN
1160     NaN     NaN    NaN   NaN
1224     NaN     NaN    NaN   NaN
1316     NaN     NaN    NaN   NaN
1386     NaN     NaN    NaN   NaN
1459     NaN     NaN    NaN   NaN
1489     NaN     NaN    NaN   NaN
1518     NaN     NaN    NaN   NaN
1552     NaN     NaN    NaN   NaN
1617     NaN     NaN    NaN   NaN
1695     NaN     NaN    NaN   NaN
1717     NaN     NaN    NaN   NaN
1732     NaN     NaN    NaN   NaN
1735     NaN     NaN    NaN   NaN
1736     NaN     NaN    NaN   NaN
1737     NaN     NaN    NaN   NaN
1738     NaN     NaN    NaN   NaN
1739     NaN     NaN    NaN   NaN
1740     NaN     NaN    NaN   NaN
1741     NaN     NaN    NaN   NaN
1742     NaN     NaN    NaN   NaN
1743     NaN     NaN    NaN   NaN
1744     NaN     NaN    NaN   NaN
1747     NaN     NaN    NaN   NaN
1749     NaN     NaN    NaN   NaN
1751     NaN     NaN    NaN   NaN
1752     NaN     NaN    NaN   NaN

In [13]:
# drop the duplicate rows
dataset = dataset.drop_duplicates()

In [14]:
# check the number of rows after dropping the duplicates
print("The number of rows in the dataset after dropping the duplicates is: ", dataset.shape[0])

The number of rows in the dataset after dropping the duplicates is:  1705

In [15]:
# check the missing values in the dataset after dropping the duplicates
print("The missing values in the dataset after dropping the duplicates are: ")
print(dataset.isnull().sum())

The missing values in the dataset after dropping the duplicates are:
Dump Date                      2
Vehicle No                     7
Out Time                      11
SOW Wastage Amount (Kg)     1044
MSW Wastage Amount (Kg)      681
Induastrial Wastage (Kg)    1703
Other Amount (Kg)           1687
Remarks                     1668
Bill No                        5
Muster                         6
Route                          6
dtype: int64

In [16]:
# remove the instances with Dump Date as missing values
dataset = dataset.dropna(subset=['Dump Date'])

remove the instances where Muster == 'Others' to remove the influence from Others category.

In [17]:
# strip the whitespaces in the 'Muster' column
dataset['Muster'] = dataset['Muster'].str.strip()

In [19]:
# remove the instances where Muster == 'Others'
dataset = dataset[dataset['Muster'] != 'Others']

In [20]:
# check the missing values in the dataset after removing the instances with Muster == 'Others' and Dump Date as missing values
print("The missing values in the dataset after removing the instances with Muster == 'Others' and Dump Date as missing values are: ")
print(dataset.isnull().sum())

The missing values in the dataset after removing the instances with Muster == 'Others' and Dump Date as missing values are:
Dump Date                      0
Vehicle No                     5
Out Time                       8
SOW Wastage Amount (Kg)     1006
MSW Wastage Amount (Kg)      665
Induastrial Wastage (Kg)    1665
Other Amount (Kg)           1664
Remarks                     1631
Bill No                        4
Muster                         4
Route                          4
dtype: int64

In [21]:
# check the instance for Dump Date 
dataset['Dump Date'].value_counts()

2024-09-14 00:00:00    98
2024-09-07 00:00:00    93
2024-09-25 00:00:00    92
2024-09-04 00:00:00    90
2024-09-28 00:00:00    90
2024-09-11 00:00:00    86
2024-09-19 00:00:00    85
2024-09-26 00:00:00    75
2024-09-20 00:00:00    75
2024-09-05 00:00:00    70
2024-09-02 00:00:00    69
2024-09-09 00:00:00    69
2024-09-30 00:00:00    67
2024-09-12 00:00:00    62
2024-09-27 00:00:00    61
2024-09-18 00:00:00    61
2024-09-03 00:00:00    61
2024-09-13 00:00:00    59
2024-09-06 00:00:00    58
2024-09-16 00:00:00    56
2024-09-10 00:00:00    53
2024-09-24 00:00:00    53
2024-09-23 00:00:00    46
2024-09-21 00:00:00    33
Total                   1
Tatol (SOW + MSW)       1
Percentage Of SOW       1
Fully Total             1
Name: Dump Date, dtype: int64

In [22]:
# transform the 'Dump Date' column to datetime format
dataset['Dump Date'] = pd.to_datetime(dataset['Dump Date'], errors='coerce')

In [23]:
# check the instance for Dump Date after transforming to datetime format
dataset['Dump Date'].value_counts()

2024-09-14    98
2024-09-07    93
2024-09-25    92
2024-09-04    90
2024-09-28    90
2024-09-11    86
2024-09-19    85
2024-09-20    75
2024-09-26    75
2024-09-05    70
2024-09-02    69
2024-09-09    69
2024-09-30    67
2024-09-12    62
2024-09-03    61
2024-09-18    61
2024-09-27    61
2024-09-13    59
2024-09-06    58
2024-09-16    56
2024-09-24    53
2024-09-10    53
2024-09-23    46
2024-09-21    33
Name: Dump Date, dtype: int64

In [24]:
# normalize the 'Dump Date' column
dataset['Dump Date'] = dataset['Dump Date'].dt.normalize()

In [25]:
# check the missing values
print("The missing values in the dataset after normalizing the 'Dump Date' column are: ")
print(dataset.isnull().sum())

The missing values in the dataset after normalizing the 'Dump Date' column are:
Dump Date                      4
Vehicle No                     5
Out Time                       8
SOW Wastage Amount (Kg)     1006
MSW Wastage Amount (Kg)      665
Induastrial Wastage (Kg)    1665
Other Amount (Kg)           1664
Remarks                     1631
Bill No                        4
Muster                         4
Route                          4
dtype: int64

In [26]:
# remove the instances with missing values in the 'Dump Date' column
dataset = dataset.dropna(subset=['Dump Date'])

In [27]:
# check the missing values
print("The missing values in the dataset after removing the instances with missing values in the 'Dump Date' column are: ")
print(dataset.isnull().sum())

The missing values in the dataset after removing the instances with missing values in the 'Dump Date' column are:
Dump Date                      0
Vehicle No                     1
Out Time                       4
SOW Wastage Amount (Kg)     1003
MSW Wastage Amount (Kg)      664
Induastrial Wastage (Kg)    1662
Other Amount (Kg)           1662
Remarks                     1627
Bill No                        1
Muster                         0
Route                          0
dtype: int64

In [29]:
# order the dataset by 'Dump Date'
dataset = dataset.sort_values(by='Dump Date')

In [30]:
# print the first 500 rows of the dataset 
print(dataset.head(500))

      Dump Date Vehicle No  Out Time  SOW Wastage Amount (Kg)  \
1    2024-09-02    ZA-6994  13:05:00                      NaN
1319 2024-09-02    RD-8430  17:17:00                      NaN
60   2024-09-02    LM-5359  14:21:00                   2780.0
1318 2024-09-02    RD-8430  13:37:00                   1060.0
1317 2024-09-02    LM-5361  13:36:00                   1380.0
...         ...        ...       ...                      ...
1013 2024-09-09    LK-2677  13:55:00                   1480.0
406  2024-09-09    LK-2687  11:36:00                   3210.0
405  2024-09-09    RD-1607  13:22:00                      NaN
404  2024-09-09    RD-1607  10:30:00                      NaN
196  2024-09-09    RD-8432  13:33:00                   2100.0

      MSW Wastage Amount (Kg)  Induastrial Wastage (Kg)  Other Amount (Kg)  \
1                      3620.0                       NaN                NaN
1319                    990.0                       NaN                NaN
60                        NaN                       NaN                NaN
1318                      NaN                       NaN                NaN
1317                      NaN                       NaN                NaN
...                       ...                       ...                ...
1013                      NaN                       NaN                NaN
406                       NaN                       NaN                NaN
405                     970.0                       NaN                NaN
404                    1750.0                       NaN                NaN
196                       NaN                       NaN                NaN

     Remarks Bill No         Muster                Route
1        NaN  605770       Kohuwala        01 - Vilawala
1319     NaN  605897       Attidiya  21 - Attidiya North
60       NaN  605815       Kohuwala        03 - Kohuwala
1318     NaN  605792       Attidiya  21 - Attidiya North
1317     NaN  605790       Attidiya  21 - Attidiya North
...      ...     ...            ...                  ...
1013     NaN  607173            R01       22- Wathumulla
406      NaN  607105  Dehiwala Town   08 - Dehiwala West
405      NaN  607140  Dehiwala Town   08 - Dehiwala West
404      NaN  607076  Dehiwala Town   08 - Dehiwala West
196      NaN  607154       Nedimala        11 - Nedimala

[500 rows x 11 columns]