In [2]:
# import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# load the data
dataset = pd.read_excel('/Users/chirath/Python/IIT/Waste_Management_System-DSGP-/24 Data/September Report.xlsx')
dataset.head()

,Unnamed: 0,Dump Date,Vehicle No,Out Time,SOW Wastage Amount (Kg),MSW Wastage Amount (Kg),Induastrial Wastage (Kg),Other Amount (Kg),Remarks,Bill No,Muster,Route
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,2024-09-02 00:00:00,ZA-6994,13:05:00,NaN,3620.0,NaN,NaN,NaN,605770,Kohuwala,01 - Vilawala
2,NaN,2024-09-03 00:00:00,ZA-6994,13:49:00,4220.0,NaN,NaN,NaN,NaN,605989,Kohuwala,01 - Vilawala
3,NaN,2024-09-04 00:00:00,ZA-6994,11:45:00,NaN,2150.0,NaN,NaN,NaN,606160,Kohuwala,01 - Vilawala
4,NaN,2024-09-04 00:00:00,ZA-6994,15:16:00,NaN,1430.0,NaN,NaN,NaN,606270,Kohuwala,01 - Vilawala

In [4]:
# identify the shape of the dataset
print("The number of rows in the dataset is: ", dataset.shape[0])
print("The number of columns in the dataset is: ", dataset.shape[1])

The number of rows in the dataset is:  1754
The number of columns in the dataset is:  12

In [5]:
# indentify the data types of the columns (features)
print("The data types of the columns in the dataset are: ")
print(dataset.dtypes)

The data types of the columns in the dataset are:
Unnamed: 0                  float64
Dump Date                    object
Vehicle No                   object
Out Time                     object
SOW Wastage Amount (Kg)     float64
MSW Wastage Amount (Kg)     float64
Induastrial Wastage (Kg)    float64
Other Amount (Kg)           float64
Remarks                      object
Bill No                      object
Muster                       object
Route                        object
dtype: object

In [6]:
# define the default column names
default_columns = [
    'Dump Date', 'Vehicle No', 'Out Time', 'SOW Wastage Amount (Kg)', 
    'MSW Wastage Amount (Kg)', 'Induastrial Wastage (Kg)', 'Other Amount (Kg)', 
    'Remarks', 'Bill No', 'Muster', 'Route'
]

# Function to check if columns exist in the dataset
def check_columns_exist(df, columns):
    for column in columns:
        if column in df.columns:
            print(f"{column}: yes")
        else:
            print(f"{column}: no")

check_columns_exist(dataset, default_columns)

Dump Date: yes
Vehicle No: yes
Out Time: yes
SOW Wastage Amount (Kg): yes
MSW Wastage Amount (Kg): yes
Induastrial Wastage (Kg): yes
Other Amount (Kg): yes
Remarks: yes
Bill No: yes
Muster: yes
Route: yes

In [7]:
# keep only the default columns
dataset = dataset[default_columns]
print(dataset.dtypes)

Dump Date                    object
Vehicle No                   object
Out Time                     object
SOW Wastage Amount (Kg)     float64
MSW Wastage Amount (Kg)     float64
Induastrial Wastage (Kg)    float64
Other Amount (Kg)           float64
Remarks                      object
Bill No                      object
Muster                       object
Route                        object
dtype: object

In [8]:
# identify the missing values in the dataset
print("The missing values in the dataset are: ")
print(dataset.isnull().sum())

The missing values in the dataset are:
Dump Date                     51
Vehicle No                    56
Out Time                      60
SOW Wastage Amount (Kg)     1093
MSW Wastage Amount (Kg)      730
Induastrial Wastage (Kg)    1752
Other Amount (Kg)           1736
Remarks                     1717
Bill No                       54
Muster                        55
Route                         55
dtype: int64

In [9]:
# identify the duplicate rows in the dataset
print("The duplicate rows in the dataset are: ")
print(dataset.duplicated().sum())
print(dataset[dataset.duplicated()])

The duplicate rows in the dataset are:
49
     Dump Date Vehicle No Out Time  SOW Wastage Amount (Kg)  \
31         NaN        NaN      NaN                      NaN
59         NaN        NaN      NaN                      NaN
84         NaN        NaN      NaN                      NaN
141        NaN        NaN      NaN                      NaN
176        NaN        NaN      NaN                      NaN
248        NaN        NaN      NaN                      NaN
276        NaN        NaN      NaN                      NaN
314        NaN        NaN      NaN                      NaN
349        NaN        NaN      NaN                      NaN
383        NaN        NaN      NaN                      NaN
451        NaN        NaN      NaN                      NaN
531        NaN        NaN      NaN                      NaN
597        NaN        NaN      NaN                      NaN
635        NaN        NaN      NaN                      NaN
697        NaN        NaN      NaN                      NaN
731        NaN        NaN      NaN                      NaN
813        NaN        NaN      NaN                      NaN
872        NaN        NaN      NaN                      NaN
905        NaN        NaN      NaN                      NaN
963        NaN        NaN      NaN                      NaN
1002       NaN        NaN      NaN                      NaN
1038       NaN        NaN      NaN                      NaN
1119       NaN        NaN      NaN                      NaN
1160       NaN        NaN      NaN                      NaN
1224       NaN        NaN      NaN                      NaN
1316       NaN        NaN      NaN                      NaN
1386       NaN        NaN      NaN                      NaN
1459       NaN        NaN      NaN                      NaN
1489       NaN        NaN      NaN                      NaN
1518       NaN        NaN      NaN                      NaN
1552       NaN        NaN      NaN                      NaN
1617       NaN        NaN      NaN                      NaN
1695       NaN        NaN      NaN                      NaN
1717       NaN        NaN      NaN                      NaN
1732       NaN        NaN      NaN                      NaN
1735       NaN        NaN      NaN                      NaN
1736       NaN        NaN      NaN                      NaN
1737       NaN        NaN      NaN                      NaN
1738       NaN        NaN      NaN                      NaN
1739       NaN        NaN      NaN                      NaN
1740       NaN        NaN      NaN                      NaN
1741       NaN        NaN      NaN                      NaN
1742       NaN        NaN      NaN                      NaN
1743       NaN        NaN      NaN                      NaN
1744       NaN        NaN      NaN                      NaN
1747       NaN        NaN      NaN                      NaN
1749       NaN        NaN      NaN                      NaN
1751       NaN        NaN      NaN                      NaN
1752       NaN        NaN      NaN                      NaN

      MSW Wastage Amount (Kg)  Induastrial Wastage (Kg)  Other Amount (Kg)  \
31                        NaN                       NaN                NaN
59                        NaN                       NaN                NaN
84                        NaN                       NaN                NaN
141                       NaN                       NaN                NaN
176                       NaN                       NaN                NaN
248                       NaN                       NaN                NaN
276                       NaN                       NaN                NaN
314                       NaN                       NaN                NaN
349                       NaN                       NaN                NaN
383                       NaN                       NaN                NaN
451                       NaN                       NaN                NaN
531                       NaN                       NaN                NaN
597                       NaN                       NaN                NaN
635                       NaN                       NaN                NaN
697                       NaN                       NaN                NaN
731                       NaN                       NaN                NaN
813                       NaN                       NaN                NaN
872                       NaN                       NaN                NaN
905                       NaN                       NaN                NaN
963                       NaN                       NaN                NaN
1002                      NaN                       NaN                NaN
1038                      NaN                       NaN                NaN
1119                      NaN                       NaN                NaN
1160                      NaN                       NaN                NaN
1224                      NaN                       NaN                NaN
1316                      NaN                       NaN                NaN
1386                      NaN                       NaN                NaN
1459                      NaN                       NaN                NaN
1489                      NaN                       NaN                NaN
1518                      NaN                       NaN                NaN
1552                      NaN                       NaN                NaN
1617                      NaN                       NaN                NaN
1695                      NaN                       NaN                NaN
1717                      NaN                       NaN                NaN
1732                      NaN                       NaN                NaN
1735                      NaN                       NaN                NaN
1736                      NaN                       NaN                NaN
1737                      NaN                       NaN                NaN
1738                      NaN                       NaN                NaN
1739                      NaN                       NaN                NaN
1740                      NaN                       NaN                NaN
1741                      NaN                       NaN                NaN
1742                      NaN                       NaN                NaN
1743                      NaN                       NaN                NaN
1744                      NaN                       NaN                NaN
1747                      NaN                       NaN                NaN
1749                      NaN                       NaN                NaN
1751                      NaN                       NaN                NaN
1752                      NaN                       NaN                NaN

     Remarks Bill No Muster Route
31       NaN     NaN    NaN   NaN
59       NaN     NaN    NaN   NaN
84       NaN     NaN    NaN   NaN
141      NaN     NaN    NaN   NaN
176      NaN     NaN    NaN   NaN
248      NaN     NaN    NaN   NaN
276      NaN     NaN    NaN   NaN
314      NaN     NaN    NaN   NaN
349      NaN     NaN    NaN   NaN
383      NaN     NaN    NaN   NaN
451      NaN     NaN    NaN   NaN
531      NaN     NaN    NaN   NaN
597      NaN     NaN    NaN   NaN
635      NaN     NaN    NaN   NaN
697      NaN     NaN    NaN   NaN
731      NaN     NaN    NaN   NaN
813      NaN     NaN    NaN   NaN
872      NaN     NaN    NaN   NaN
905      NaN     NaN    NaN   NaN
963      NaN     NaN    NaN   NaN
1002     NaN     NaN    NaN   NaN
1038     NaN     NaN    NaN   NaN
1119     NaN     NaN    NaN   NaN
1160     NaN     NaN    NaN   NaN
1224     NaN     NaN    NaN   NaN
1316     NaN     NaN    NaN   NaN
1386     NaN     NaN    NaN   NaN
1459     NaN     NaN    NaN   NaN
1489     NaN     NaN    NaN   NaN
1518     NaN     NaN    NaN   NaN
1552     NaN     NaN    NaN   NaN
1617     NaN     NaN    NaN   NaN
1695     NaN     NaN    NaN   NaN
1717     NaN     NaN    NaN   NaN
1732     NaN     NaN    NaN   NaN
1735     NaN     NaN    NaN   NaN
1736     NaN     NaN    NaN   NaN
1737     NaN     NaN    NaN   NaN
1738     NaN     NaN    NaN   NaN
1739     NaN     NaN    NaN   NaN
1740     NaN     NaN    NaN   NaN
1741     NaN     NaN    NaN   NaN
1742     NaN     NaN    NaN   NaN
1743     NaN     NaN    NaN   NaN
1744     NaN     NaN    NaN   NaN
1747     NaN     NaN    NaN   NaN
1749     NaN     NaN    NaN   NaN
1751     NaN     NaN    NaN   NaN
1752     NaN     NaN    NaN   NaN

In [10]:
# drop the duplicate rows
dataset = dataset.drop_duplicates()

In [11]:
# check the number of rows after dropping the duplicates
print("The number of rows in the dataset after dropping the duplicates is: ", dataset.shape[0])

The number of rows in the dataset after dropping the duplicates is:  1705

In [12]:
# check the missing values in the dataset after dropping the duplicates
print("The missing values in the dataset after dropping the duplicates are: ")
print(dataset.isnull().sum())

The missing values in the dataset after dropping the duplicates are:
Dump Date                      2
Vehicle No                     7
Out Time                      11
SOW Wastage Amount (Kg)     1044
MSW Wastage Amount (Kg)      681
Induastrial Wastage (Kg)    1703
Other Amount (Kg)           1687
Remarks                     1668
Bill No                        5
Muster                         6
Route                          6
dtype: int64

In [13]:
# remove the instances with Dump Date as missing values
dataset = dataset.dropna(subset=['Dump Date'])

remove the instances where Muster == 'Others' to remove the influence from Others category.

In [14]:
# strip the whitespaces in the 'Muster' column
dataset['Muster'] = dataset['Muster'].str.strip()

In [15]:
# remove the instances where Muster == 'Others'
dataset = dataset[dataset['Muster'] != 'Others']

In [16]:
# check the missing values in the dataset after removing the instances with Muster == 'Others' and Dump Date as missing values
print("The missing values in the dataset after removing the instances with Muster == 'Others' and Dump Date as missing values are: ")
print(dataset.isnull().sum())

The missing values in the dataset after removing the instances with Muster == 'Others' and Dump Date as missing values are:
Dump Date                      0
Vehicle No                     5
Out Time                       8
SOW Wastage Amount (Kg)     1006
MSW Wastage Amount (Kg)      665
Induastrial Wastage (Kg)    1665
Other Amount (Kg)           1664
Remarks                     1631
Bill No                        4
Muster                         4
Route                          4
dtype: int64

In [17]:
# check the instance for Dump Date 
dataset['Dump Date'].value_counts()

2024-09-14 00:00:00    98
2024-09-07 00:00:00    93
2024-09-25 00:00:00    92
2024-09-04 00:00:00    90
2024-09-28 00:00:00    90
2024-09-11 00:00:00    86
2024-09-19 00:00:00    85
2024-09-26 00:00:00    75
2024-09-20 00:00:00    75
2024-09-05 00:00:00    70
2024-09-02 00:00:00    69
2024-09-09 00:00:00    69
2024-09-30 00:00:00    67
2024-09-12 00:00:00    62
2024-09-27 00:00:00    61
2024-09-18 00:00:00    61
2024-09-03 00:00:00    61
2024-09-13 00:00:00    59
2024-09-06 00:00:00    58
2024-09-16 00:00:00    56
2024-09-10 00:00:00    53
2024-09-24 00:00:00    53
2024-09-23 00:00:00    46
2024-09-21 00:00:00    33
Total                   1
Tatol (SOW + MSW)       1
Percentage Of SOW       1
Fully Total             1
Name: Dump Date, dtype: int64

In [18]:
# transform the 'Dump Date' column to datetime format
dataset['Dump Date'] = pd.to_datetime(dataset['Dump Date'], errors='coerce')

In [19]:
# check the instance for Dump Date after transforming to datetime format
dataset['Dump Date'].value_counts()

2024-09-14    98
2024-09-07    93
2024-09-25    92
2024-09-04    90
2024-09-28    90
2024-09-11    86
2024-09-19    85
2024-09-20    75
2024-09-26    75
2024-09-05    70
2024-09-02    69
2024-09-09    69
2024-09-30    67
2024-09-12    62
2024-09-03    61
2024-09-18    61
2024-09-27    61
2024-09-13    59
2024-09-06    58
2024-09-16    56
2024-09-24    53
2024-09-10    53
2024-09-23    46
2024-09-21    33
Name: Dump Date, dtype: int64

In [20]:
# normalize the 'Dump Date' column
dataset['Dump Date'] = dataset['Dump Date'].dt.normalize()

In [21]:
# check the missing values
print("The missing values in the dataset after normalizing the 'Dump Date' column are: ")
print(dataset.isnull().sum())

The missing values in the dataset after normalizing the 'Dump Date' column are:
Dump Date                      4
Vehicle No                     5
Out Time                       8
SOW Wastage Amount (Kg)     1006
MSW Wastage Amount (Kg)      665
Induastrial Wastage (Kg)    1665
Other Amount (Kg)           1664
Remarks                     1631
Bill No                        4
Muster                         4
Route                          4
dtype: int64

In [22]:
# remove the instances with missing values in the 'Dump Date' column
dataset = dataset.dropna(subset=['Dump Date'])

In [23]:
# check the missing values
print("The missing values in the dataset after removing the instances with missing values in the 'Dump Date' column are: ")
print(dataset.isnull().sum())

The missing values in the dataset after removing the instances with missing values in the 'Dump Date' column are:
Dump Date                      0
Vehicle No                     1
Out Time                       4
SOW Wastage Amount (Kg)     1003
MSW Wastage Amount (Kg)      664
Induastrial Wastage (Kg)    1662
Other Amount (Kg)           1662
Remarks                     1627
Bill No                        1
Muster                         0
Route                          0
dtype: int64

In [24]:
# order the dataset by 'Dump Date'
dataset = dataset.sort_values(by='Dump Date')

In [25]:
# print the first 500 rows of the dataset 
print(dataset.head(500))

      Dump Date Vehicle No  Out Time  SOW Wastage Amount (Kg)  \
1    2024-09-02    ZA-6994  13:05:00                      NaN
1319 2024-09-02    RD-8430  17:17:00                      NaN
60   2024-09-02    LM-5359  14:21:00                   2780.0
1318 2024-09-02    RD-8430  13:37:00                   1060.0
1317 2024-09-02    LM-5361  13:36:00                   1380.0
...         ...        ...       ...                      ...
1013 2024-09-09    LK-2677  13:55:00                   1480.0
406  2024-09-09    LK-2687  11:36:00                   3210.0
405  2024-09-09    RD-1607  13:22:00                      NaN
404  2024-09-09    RD-1607  10:30:00                      NaN
196  2024-09-09    RD-8432  13:33:00                   2100.0

      MSW Wastage Amount (Kg)  Induastrial Wastage (Kg)  Other Amount (Kg)  \
1                      3620.0                       NaN                NaN
1319                    990.0                       NaN                NaN
60                        NaN                       NaN                NaN
1318                      NaN                       NaN                NaN
1317                      NaN                       NaN                NaN
...                       ...                       ...                ...
1013                      NaN                       NaN                NaN
406                       NaN                       NaN                NaN
405                     970.0                       NaN                NaN
404                    1750.0                       NaN                NaN
196                       NaN                       NaN                NaN

     Remarks Bill No         Muster                Route
1        NaN  605770       Kohuwala        01 - Vilawala
1319     NaN  605897       Attidiya  21 - Attidiya North
60       NaN  605815       Kohuwala        03 - Kohuwala
1318     NaN  605792       Attidiya  21 - Attidiya North
1317     NaN  605790       Attidiya  21 - Attidiya North
...      ...     ...            ...                  ...
1013     NaN  607173            R01       22- Wathumulla
406      NaN  607105  Dehiwala Town   08 - Dehiwala West
405      NaN  607140  Dehiwala Town   08 - Dehiwala West
404      NaN  607076  Dehiwala Town   08 - Dehiwala West
196      NaN  607154       Nedimala        11 - Nedimala

[500 rows x 11 columns]

Clean the numerous human data entry errors in the 'Muster' and 'Route' column.

In [26]:
dataset['Muster'] = dataset['Muster'].str.strip()

In [27]:
# check the instance for Muster
dataset['Muster'].value_counts()

R 02             231
R 01             158
Badowita         154
Mount Lavinia    147
D 02 Park        144
Attidiya         141
Kohuwala         137
Karagampitiya    131
Nedimala         105
Dehiwala Town    100
Saranankara       98
D 02 Market       81
R01               35
Name: Muster, dtype: int64

In [28]:
# correcting the muster category errors
muster_corrections = {
    'D02 Park': 'D 02 Park',
    'D2 Park': 'D 02 Park',
    'Dehiwala City': 'Dehiwala Town',
    'Dehiwala City': 'Dehiwala Town',
    'Dehiuwala City': 'Dehiwala Town',
    'D 02 Market': 'Dehiwala Market',
    'D 02 - Market': 'Dehiwala Market',
    'Dehiwala Marker': 'Dehiwala Market',
    'Kaaragampitiya': 'Karagampitiya',
    'Dehiwala Markect': 'Dehiwala Market',
    'R01': 'R 01',
    'R02': 'R 02',
    'Attdidya': 'Attidiya',
    'D 02 Market': 'Dehiwala Market',
    'D 02 Market': 'Dehiwala Market',
    'Dehiwala Marhet': 'Dehiwala Market',
    'Kouhwala': 'Kohuwala',
    'Kohuwalka': 'Kohuwala'

}
dataset['Muster'] = dataset['Muster'].replace(muster_corrections)

In [29]:
# check the instance for Muster after correcting the muster category errors
dataset['Muster'].value_counts()

R 02               231
R 01               193
Badowita           154
Mount Lavinia      147
D 02 Park          144
Attidiya           141
Kohuwala           137
Karagampitiya      131
Nedimala           105
Dehiwala Town      100
Saranankara         98
Dehiwala Market     81
Name: Muster, dtype: int64

In [31]:
dataset['Route'] = dataset['Route'].str.strip()

In [32]:
# check the instance for Route
dataset['Route'].value_counts()

20 - Katukurunduwatta    91
13 - Jayathilaka         81
23 - Wedikanda           80
09 - Dehiwala East       79
29B - Borupana           77
25 - Attidiya South      72
11 - Nedimala            71
21 - Attidiya North      69
08 - Dehiwala West       67
10 - Udyanaya            65
29A - Kandawala          64
15B - Kawdana East       63
14 - Karagampitiya       61
16 - Kawdana West        58
19 - Watarappala         57
02/03 - Ekabadda         56
24 - Pirivena            40
18 - Vidyalaya           38
06 - Saranankara         37
12 - Malwatta            37
22- Wathumulla           35
04 - Kalubowila          34
05/06 - Ekabadda         34
07 - Galwala             33
15A - Kawdana East       33
28 - Ratmalana East      33
17 - Galkissa            32
01 - Vilawala            30
26 - Vihara              29
27 - Ratmalana West      28
05 - Hathbodiya          27
02 - Dutugamunu          27
03 - Kohuwala            24
Name: Route, dtype: int64

In [33]:
# correcting the route category errors
route_corrections = {
    '01 Vilawala': '01 - Vilawala',
    '02 Dutugamunu': '02 - Dutugamunu',
    '03 Kohuwala': '03 - Kohuwala',
    '02 - Kohuwala': '03 - Kohuwala',
    '02/03 Ekabadda': '02/03 - Ekabadda',
    '02 & 03 Ekabadda': '02/03 - Ekabadda',
    '04 Kalubowila': '04 - Kalubowila',
    '04 kalubowila': '04 - Kalubowila',
    '04  Kalubowila': '04 - Kalubowila',
    '04 - Kalubiwila': '04 - Kalubowila',
    '11 Nedimala': '11 - Nedimala',
    '05 Hathbodiya': '05 - Hathbodiya',
    '06 Saranankara': '06 - Saranankara',
    '05/06 Ekabadda': '05/06 - Ekabadda',
    '05 & 06 Ekabadda': '05/06 - Ekabadda',
    '07 Galwala': '07 - Galwala',
    '08 Dehiwala West': '08 - Dehiwala West',
    '09 Dehiwala East': '09 - Dehiwala East',
    '09 Deiwala East': '09 - Dehiwala East',
    '10 Udyanaya': '10 - Udyanaya',
    '10 Udyana': '10 - Udyanaya',
    '12 Malwatta': '12 - Malwatta',
    '12  - Malwatta': '12 - Malwatta',
    '14 Karagampitiya': '14 - Karagampitiya',
    '15A Kawdana East': '15A - Kawdana East',
    '15A Kawdana West': '15A - Kawdana East',
    '15 A - Kawdana East': '15A - Kawdana East',
    '15B Kwdana East': '15B - Kawdana East',
    '15B Kawdana East': '15B - Kawdana East',
    '15 B - Kawdana East': '15B - Kawdana East',
    '15 Kawdana East': '15B - Kawdana East',
    '13 Jayathilaka': '13 - Jayathilaka',
    '16 Kawdana West': '16 - Kawdana West',
    '16 Kadana West': '16 - Kawdana West',
    '16 Kawdana Waste': '16 - Kawdana West',
    '16 Kawdana East': '16 - Kawdana West',
    '16 Kawdana Wast': '16 - Kawdana West',
    '16 -  Kawdana West': '16 - Kawdana West',
    '17 Galkissa': '17 - Galkissa',
    '19 Watarappoola': '19 - Watarappola',
    '19 Watarappola': '19 - Watarappola',
    '19 - Watarappala': '19 - Watarappola',
    '18 Vidyalaya': '18 - Vidyalaya',
    '18 Vidyala': '18 - Vidyalaya',
    '22 Wathumulla': '22 - Wathumulla',
    '22- Wathumulla': '22 - Wathumulla',
    '23 Wedikanda': '23 - Wedikanda',
    '24 Piriwena': '24 - Pirivena',
    '24 - Piriwena': '24 - Pirivena',
    '20 Katukurundu Watte': '20 - Katukurunduwatta',
    '20 Katukurundu Wate': '20 - Katukurunduwatta',
    '20 - Katukurubduwatta': '20 - Katukurunduwatta',
    '21 Attidiya North': '21 - Attidiya North',
    '21 Attdidya North': '21 - Attidiya North',
    '25 Attdidya South': '25 - Attidiya South',
    '25 Attidiya South': '25 - Attidiya South',
    '25 - Attidya South': '25 - Attidiya South',
    '26 Vihara': '26 - Vihara',
    '27 Ratmalana West': '27 - Ratmalana West',
    '27 Rathmalana West': '27 - Ratmalana West',
    '27 - Ratmalala West': '27 - Ratmalana West',
    '28 Ratmalana West': '28 - Ratmalana East',
    '28 Ratmalana East': '28 - Ratmalana East',
    '28 -Ratmalana East': '28 - Ratmalana East',
    '28Ratmalana East': '28 - Ratmalana East',
    '29A Kandawala': '29A - Kandawala',
    '29 A - Kandawala': '29A - Kandawala',
    '29A Kawdana': '29A - Kandawala',
    '29B Borupana': '29B - Borupana',
    '29 B - Borupana': '29B - Borupana'
}

# Replace incorrect names with correct names
dataset['Route'] = dataset['Route'].replace(route_corrections)

In [34]:
# check the instance for Route after correcting the route category errors
dataset['Route'].value_counts()

20 - Katukurunduwatta    91
13 - Jayathilaka         81
23 - Wedikanda           80
09 - Dehiwala East       79
29B - Borupana           77
25 - Attidiya South      72
11 - Nedimala            71
21 - Attidiya North      69
08 - Dehiwala West       67
10 - Udyanaya            65
29A - Kandawala          64
15B - Kawdana East       63
14 - Karagampitiya       61
16 - Kawdana West        58
19 - Watarappola         57
02/03 - Ekabadda         56
24 - Pirivena            40
18 - Vidyalaya           38
06 - Saranankara         37
12 - Malwatta            37
22 - Wathumulla          35
04 - Kalubowila          34
05/06 - Ekabadda         34
07 - Galwala             33
15A - Kawdana East       33
28 - Ratmalana East      33
17 - Galkissa            32
01 - Vilawala            30
26 - Vihara              29
27 - Ratmalana West      28
05 - Hathbodiya          27
02 - Dutugamunu          27
03 - Kohuwala            24
Name: Route, dtype: int64

In [36]:
# standardize the 'Route' column
dataset['Route'] = dataset['Route'].str.strip().str.upper()

In [37]:
# standardize the 'Muster' column
dataset['Muster'] = dataset['Muster'].str.strip().str.upper()

In [38]:
# check the instance for Route after standardizing the 'Route' column
dataset['Route'].value_counts()

20 - KATUKURUNDUWATTA    91
13 - JAYATHILAKA         81
23 - WEDIKANDA           80
09 - DEHIWALA EAST       79
29B - BORUPANA           77
25 - ATTIDIYA SOUTH      72
11 - NEDIMALA            71
21 - ATTIDIYA NORTH      69
08 - DEHIWALA WEST       67
10 - UDYANAYA            65
29A - KANDAWALA          64
15B - KAWDANA EAST       63
14 - KARAGAMPITIYA       61
16 - KAWDANA WEST        58
19 - WATARAPPOLA         57
02/03 - EKABADDA         56
24 - PIRIVENA            40
18 - VIDYALAYA           38
06 - SARANANKARA         37
12 - MALWATTA            37
22 - WATHUMULLA          35
04 - KALUBOWILA          34
05/06 - EKABADDA         34
07 - GALWALA             33
15A - KAWDANA EAST       33
28 - RATMALANA EAST      33
17 - GALKISSA            32
01 - VILAWALA            30
26 - VIHARA              29
27 - RATMALANA WEST      28
05 - HATHBODIYA          27
02 - DUTUGAMUNU          27
03 - KOHUWALA            24
Name: Route, dtype: int64

In [40]:
# check the instance for Muster after standardizing the 'Muster' column
dataset['Muster'].value_counts()

R 02               231
R 01               193
BADOWITA           154
MOUNT LAVINIA      147
D 02 PARK          144
ATTIDIYA           141
KOHUWALA           137
KARAGAMPITIYA      131
NEDIMALA           105
DEHIWALA TOWN      100
SARANANKARA         98
DEHIWALA MARKET     81
Name: Muster, dtype: int64

In [41]:
# Define the default routes
default_routes = [
    '20 - KATUKURUNDUWATTA', '29A - KANDAWALA', '29B - BORUPANA', '08 - DEHIWALA WEST', 
    '13 - JAYATHILAKA', '21 - ATTIDIYA NORTH', '25 - ATTIDIYA SOUTH', '02/03 - EKABADDA', 
    '11 - NEDIMALA', '16 - KAWDANA WEST', '10 - UDYANAYA', '19 - WATARAPPOLA', 
    '23 - WEDIKANDA', '09 - DEHIWALA EAST', '14 - KARAGAMPITIYA', '18 - VIDYALAYA', 
    '15B - KAWDANA EAST', '06 - SARANANKARA', '24 - PIRIVENA', '12 - MALWATTA', 
    '04 - KALUBOWILA', '05/06 - EKABADDA', '28 - RATMALANA EAST', '22 - WATHUMULLA', 
    '15A - KAWDANA EAST', '05 - HATHBODIYA', '27 - RATMALANA WEST', '03 - KOHUWALA'
]

# Function to check if routes exist in the dataset
def check_routes_exist(df, routes):
    for route in routes:
        if route in df['Route'].values:
            print(f"{route}: yes")
        else:
            print(f"{route}: no")

# Check the routes
check_routes_exist(dataset, default_routes)

20 - KATUKURUNDUWATTA: yes
29A - KANDAWALA: yes
29B - BORUPANA: yes
08 - DEHIWALA WEST: yes
13 - JAYATHILAKA: yes
21 - ATTIDIYA NORTH: yes
25 - ATTIDIYA SOUTH: yes
02/03 - EKABADDA: yes
11 - NEDIMALA: yes
16 - KAWDANA WEST: yes
10 - UDYANAYA: yes
19 - WATARAPPOLA: yes
23 - WEDIKANDA: yes
09 - DEHIWALA EAST: yes
14 - KARAGAMPITIYA: yes
18 - VIDYALAYA: yes
15B - KAWDANA EAST: yes
06 - SARANANKARA: yes
24 - PIRIVENA: yes
12 - MALWATTA: yes
04 - KALUBOWILA: yes
05/06 - EKABADDA: yes
28 - RATMALANA EAST: yes
22 - WATHUMULLA: yes
15A - KAWDANA EAST: yes
05 - HATHBODIYA: yes
27 - RATMALANA WEST: yes
03 - KOHUWALA: yes

In [42]:
# Define the default musters
default_musters = [
    'R 02', 'R 01', 'MOUNT LAVINIA', 'KOHUWALA', 'BADOWITA', 
    'ATTIDIYA', 'KARAGAMPITIYA', 'D 02 PARK', 'DEHIWALA TOWN', 
    'SARANANKARA', 'NEDIMALA', 'DEHIWALA MARKET'
]

# Function to check if musters exist in the dataset
def check_musters_exist(df, musters):
    for muster in musters:
        if muster in df['Muster'].values:
            print(f"{muster}: yes")
        else:
            print(f"{muster}: no")

# Check the musters
check_musters_exist(dataset, default_musters)

R 02: yes
R 01: yes
MOUNT LAVINIA: yes
KOHUWALA: yes
BADOWITA: yes
ATTIDIYA: yes
KARAGAMPITIYA: yes
D 02 PARK: yes
DEHIWALA TOWN: yes
SARANANKARA: yes
NEDIMALA: yes
DEHIWALA MARKET: yes

In [43]:
# print the first 500 rows of the dataset to verify the changes
print(dataset.head(500))

      Dump Date Vehicle No  Out Time  SOW Wastage Amount (Kg)  \
1    2024-09-02    ZA-6994  13:05:00                      NaN
1319 2024-09-02    RD-8430  17:17:00                      NaN
60   2024-09-02    LM-5359  14:21:00                   2780.0
1318 2024-09-02    RD-8430  13:37:00                   1060.0
1317 2024-09-02    LM-5361  13:36:00                   1380.0
...         ...        ...       ...                      ...
1013 2024-09-09    LK-2677  13:55:00                   1480.0
406  2024-09-09    LK-2687  11:36:00                   3210.0
405  2024-09-09    RD-1607  13:22:00                      NaN
404  2024-09-09    RD-1607  10:30:00                      NaN
196  2024-09-09    RD-8432  13:33:00                   2100.0

      MSW Wastage Amount (Kg)  Induastrial Wastage (Kg)  Other Amount (Kg)  \
1                      3620.0                       NaN                NaN
1319                    990.0                       NaN                NaN
60                        NaN                       NaN                NaN
1318                      NaN                       NaN                NaN
1317                      NaN                       NaN                NaN
...                       ...                       ...                ...
1013                      NaN                       NaN                NaN
406                       NaN                       NaN                NaN
405                     970.0                       NaN                NaN
404                    1750.0                       NaN                NaN
196                       NaN                       NaN                NaN

     Remarks Bill No         Muster                Route
1        NaN  605770       KOHUWALA        01 - VILAWALA
1319     NaN  605897       ATTIDIYA  21 - ATTIDIYA NORTH
60       NaN  605815       KOHUWALA        03 - KOHUWALA
1318     NaN  605792       ATTIDIYA  21 - ATTIDIYA NORTH
1317     NaN  605790       ATTIDIYA  21 - ATTIDIYA NORTH
...      ...     ...            ...                  ...
1013     NaN  607173           R 01      22 - WATHUMULLA
406      NaN  607105  DEHIWALA TOWN   08 - DEHIWALA WEST
405      NaN  607140  DEHIWALA TOWN   08 - DEHIWALA WEST
404      NaN  607076  DEHIWALA TOWN   08 - DEHIWALA WEST
196      NaN  607154       NEDIMALA        11 - NEDIMALA

[500 rows x 11 columns]

In [ ]:
# save the cleaned dataset to a new excel file
dataset.to_excel('/Users/chirath/Python/IIT/Waste_Management_System-DSGP-/24 Final/0924.xlsx', index=False)