In [14]:
# Importing libraries
import pandas as pd

In [15]:
# Reading the data
df = pd.read_excel("/Users/chirath/Python/IIT/DSGP Practice/2023/January Report.xlsx")
print(df.head())

             Dump Date Vehicle No  Out Time SOW Wastage Amount (Kg)  \
0                  NaN        NaN       NaN                     NaN
1  2023-01-02 00:00:00    ZA-6994  13:16:00                     NaN
2  2023-01-03 00:00:00    ZA-6994  13:06:00                    4900
3  2023-01-05 00:00:00    ZA-6994  12:10:00                    2380
4  2023-01-07 00:00:00    ZA-6994  10:28:00                     NaN

   MSW Wastage Amount (Kg)  Induastrial Wastage (Kg)  Other Amount (Kg)  \
0                      NaN                       NaN                NaN
1                   2810.0                       NaN                NaN
2                      NaN                       NaN                NaN
3                      NaN                       NaN                NaN
4                   2750.0                       NaN                NaN

  Remarks   Bill No    Muster          Route
0     NaN       NaN       NaN            NaN
1     NaN  498035.0  Kohuwala  01 - Vilawala
2     NaN  498216.0  Kohuwala  01 - Vilawala
3     NaN  498419.0  Kohuwala  01 - Vilawala
4     NaN  498662.0  Kohuwala  01 - Vilawala

In [16]:
# Dropping unnecessary columns
columns_to_drop = ['Vehicle No', 'Out Time', 'Remarks', 'Bill No', 'Induastrial Wastage (Kg)', 'Other Amount (Kg)', 'Remarks']
df = df.drop(columns=columns_to_drop)
print(df.head(10))

             Dump Date SOW Wastage Amount (Kg)  MSW Wastage Amount (Kg)  \
0                  NaN                     NaN                      NaN
1  2023-01-02 00:00:00                     NaN                   2810.0
2  2023-01-03 00:00:00                    4900                      NaN
3  2023-01-05 00:00:00                    2380                      NaN
4  2023-01-07 00:00:00                     NaN                   2750.0
5  2023-01-07 00:00:00                     NaN                   2920.0
6  2023-01-09 00:00:00                     NaN                   2530.0
7  2023-01-09 00:00:00                     NaN                   1740.0
8  2023-01-10 00:00:00                     NaN                   2650.0
9  2023-01-12 00:00:00                    5860                      NaN

     Muster          Route
0       NaN            NaN
1  Kohuwala  01 - Vilawala
2  Kohuwala  01 - Vilawala
3  Kohuwala  01 - Vilawala
4  Kohuwala  01 - Vilawala
5  Kohuwala  01 - Vilawala
6  Kohuwala  01 - Vilawala
7  Kohuwala  01 - Vilawala
8  Kohuwala  01 - Vilawala
9  Kohuwala  01 - Vilawala

In [17]:
# converting the data types
df['Dump Date'] = pd.to_datetime(df['Dump Date'], errors='coerce')
# creating new columns for day and week number
df['Day'] = df['Dump Date'].dt.day_name()
df['Week Number'] = df['Dump Date'].dt.isocalendar().week
print(df.head(50))

    Dump Date SOW Wastage Amount (Kg)  MSW Wastage Amount (Kg)    Muster  \
0         NaT                     NaN                      NaN       NaN
1  2023-01-02                     NaN                   2810.0  Kohuwala
2  2023-01-03                    4900                      NaN  Kohuwala
3  2023-01-05                    2380                      NaN  Kohuwala
4  2023-01-07                     NaN                   2750.0  Kohuwala
5  2023-01-07                     NaN                   2920.0  Kohuwala
6  2023-01-09                     NaN                   2530.0  Kohuwala
7  2023-01-09                     NaN                   1740.0  Kohuwala
8  2023-01-10                     NaN                   2650.0  Kohuwala
9  2023-01-12                    5860                      NaN  Kohuwala
10 2023-01-13                     NaN                   3040.0  Kohuwala
11 2023-01-13                     NaN                   1990.0  Kohuwala
12 2023-01-16                    4460                      NaN  Kohuwala
13 2023-01-17                     NaN                   2350.0  Kohuwala
14 2023-01-17                     NaN                   2790.0  Kohuwala
15 2023-01-19                    4480                      NaN  Kohuwala
16 2023-01-20                     NaN                   3190.0  Kohuwala
17 2023-01-20                     NaN                   2520.0  Kohuwala
18 2023-01-23                    3760                      NaN  Kohuwala
19 2023-01-24                     NaN                   3480.0  Kohuwala
20 2023-01-24                     NaN                   3220.0  Kohuwala
21 2023-01-26                    4870                      NaN  Kohuwala
22 2023-01-27                     NaN                   3370.0  Kohuwala
23 2023-01-27                     NaN                   2120.0  Kohuwala
24 2023-01-30                    4270                      NaN  Kohuwala
25 2023-01-31                     NaN                   1970.0  Kohuwala
26 2023-01-31                     NaN                   2290.0  Kohuwala
27        NaT                     NaN                      NaN       NaN
28 2023-01-02                     NaN                    950.0  Kohuwala
29 2023-01-02                     NaN                   1320.0  Kohuwala
30 2023-01-03                     NaN                   1870.0  Kohuwala
31 2023-01-05                     NaN                   1420.0  Kohuwala
32 2023-01-05                     NaN                   1690.0  Kohuwala
33 2023-01-07                     NaN                    970.0  Kohuwala
34 2023-01-07                     NaN                   1530.0  Kohuwala
35 2023-01-09                    3370                      NaN  Kohuwala
36 2023-01-10                    2400                      NaN  Kohuwala
37 2023-01-11                     NaN                   1320.0  Kohuwala
38 2023-01-12                     NaN                   1320.0  Kohuwala
39 2023-01-12                     NaN                   1160.0  Kohuwala
40 2023-01-13                     NaN                   2160.0  Kohuwala
41 2023-01-16                     NaN                   2300.0  Kohuwala
42 2023-01-16                     NaN                   1350.0  Kohuwala
43 2023-01-17                    2140                      NaN  Kohuwala
44 2023-01-19                     NaN                   2540.0  Kohuwala
45 2023-01-19                     NaN                   1780.0  Kohuwala
46 2023-01-20                    1850                      NaN  Kohuwala
47 2023-01-24                    2820                      NaN  Kohuwala
48 2023-01-25                     NaN                   1710.0  Kohuwala
49 2023-01-25                     NaN                   2280.0  Kohuwala

              Route        Day  Week Number
0               NaN        NaN         <NA>
1     01 - Vilawala     Monday            1
2     01 - Vilawala    Tuesday            1
3     01 - Vilawala   Thursday            1
4     01 - Vilawala   Saturday            1
5     01 - Vilawala   Saturday            1
6     01 - Vilawala     Monday            2
7     01 - Vilawala     Monday            2
8     01 - Vilawala    Tuesday            2
9     01 - Vilawala   Thursday            2
10    01 - Vilawala     Friday            2
11    01 - Vilawala     Friday            2
12    01 - Vilawala     Monday            3
13    01 - Vilawala    Tuesday            3
14    01 - Vilawala    Tuesday            3
15    01 - Vilawala   Thursday            3
16    01 - Vilawala     Friday            3
17    01 - Vilawala     Friday            3
18    01 - Vilawala     Monday            4
19    01 - Vilawala    Tuesday            4
20    01 - Vilawala    Tuesday            4
21    01 - Vilawala   Thursday            4
22    01 - Vilawala     Friday            4
23    01 - Vilawala     Friday            4
24    01 - Vilawala     Monday            5
25    01 - Vilawala    Tuesday            5
26    01 - Vilawala    Tuesday            5
27              NaN        NaN         <NA>
28  02 - Dutugamunu     Monday            1
29  02 - Dutugamunu     Monday            1
30  02 - Dutugamunu    Tuesday            1
31  02 - Dutugamunu   Thursday            1
32  02 - Dutugamunu   Thursday            1
33  02 - Dutugamunu   Saturday            1
34  02 - Dutugamunu   Saturday            1
35  02 - Dutugamunu     Monday            2
36  02 - Dutugamunu    Tuesday            2
37  02 - Dutugamunu  Wednesday            2
38  02 - Dutugamunu   Thursday            2
39  02 - Dutugamunu   Thursday            2
40  02 - Dutugamunu     Friday            2
41  02 - Dutugamunu     Monday            3
42  02 - Dutugamunu     Monday            3
43  02 - Dutugamunu    Tuesday            3
44  02 - Dutugamunu   Thursday            3
45  02 - Dutugamunu   Thursday            3
46  02 - Dutugamunu     Friday            3
47  02 - Dutugamunu    Tuesday            4
48  02 - Dutugamunu  Wednesday            4
49  02 - Dutugamunu  Wednesday            4

In [18]:
# converting the wastage amounts to numeric
df['SOW Wastage Amount (Kg)'] = pd.to_numeric(df['SOW Wastage Amount (Kg)'], errors='coerce')
# Group and sum the wastage amounts
df_grouped = df.groupby(['Dump Date', 'Route', 'Muster', 'Day', 'Week Number']).agg({
    'SOW Wastage Amount (Kg)': 'sum',
    'MSW Wastage Amount (Kg)': 'sum'
}).reset_index()
print(df_grouped)

              Dump Date                      Route    Muster      Day  \
0   2023-01-02 00:00:00              01 - Vilawala  Kohuwala   Monday
1   2023-01-02 00:00:00            02 - Dutugamunu  Kohuwala   Monday
2   2023-01-02 00:00:00           02/03 - Ekabadda  Kohuwala   Monday
3   2023-01-02 00:00:00              03 - Kohuwala  Kohuwala   Monday
4   2023-01-02 00:00:00            04 - Kalubowila  Nedimala   Monday
..                  ...                        ...       ...      ...
709 2023-01-31 00:00:00            29 B - Borupana      R 02  Tuesday
710 2023-01-31 00:00:00        Kalubowila Hospital    Others  Tuesday
711 2023-01-31 00:00:00                       Meat    Others  Tuesday
712 2023-01-31 00:00:00                      Night    Others  Tuesday
713 2023-01-31 14:35:12  Ratmalana Economic Centre    Others  Tuesday

     Week Number  SOW Wastage Amount (Kg)  MSW Wastage Amount (Kg)
0              1                      0.0                   2810.0
1              1                      0.0                   2270.0
2              1                   1620.0                   5480.0
3              1                   4050.0                      0.0
4              1                    760.0                    710.0
..           ...                      ...                      ...
709            5                   3270.0                   4120.0
710            5                      0.0                   1340.0
711            5                      0.0                      0.0
712            5                   1870.0                   1600.0
713            5                    180.0                      0.0

[714 rows x 7 columns]